@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

/* GLOBAL */
*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Fredoka One', cursive;
}

/* MAIN */
.main-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

/* GLOBAL WRAPPER */
.global-wrapper {
  max-width: 1260px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 30px;
  padding-left: 30px;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

.gloabl-header {
  margin-bottom: 200px;
  margin-top: 100px;
  font-size: 55px;
  letter-spacing: 2px;
  background: transparent;
  color: #fff;
}

.color-text {
  color: #fff;
  font-size: 25px;
}

/* BUTTONS */
.buttons {
  display: flex;
  flex-wrap: wrap;
}

.change-color-btn {
  background-color: orange;
  height: 150px;
  width: 150px;
  margin-bottom: 10px;
  cursor: pointer;
  border-radius: 10px;
  transition: transform 0.5s, box-shadow 0.3s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  border: 0;
  font-family: 'Fredoka One', cursive;
  color: #fff;
  background: transparent;
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.51);
  -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.51);
  -moz-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.51);
}

.change-color-btn:first-child::after {
  content: 'only one color';
  display: block;
  font-size: 20px;
}

.change-color-btn:not(:first-child)::after {
  display: block;
  content: 'gradient';
  font-size: 20px;
}

.change-color-btn:hover {
  transform: translateY(-10px);
}

/* .change-color-btn:active {
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.51);
  -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.51);
  -moz-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.51);
} */

.change-color-btn:not(:last-child) {
  margin-right: 10px;
}
